body {
    background-color: red;
}

#padre {
    display: grid;
    grid-template-columns: 50vh 30vw;
    grid-template-rows: repeat(3, 1fr); /*1fr 1fr*/
    /*repeat(2, 1fr)*/
    gap: 20px;
   

}

#cajaVerde {
    background-color: green;
    border: 5px solid black;
}

#cajaMorada {
    background-color: blueviolet;
    border: 5px solid black;
}

#cajaAmarilla {
    background-color: yellow;
    border: 5px solid black;
    grid-column: span 2;
    grid-row: span 2;


}